# Welcome to Exercise 1
In this exercise, you will learn the basics of Python and the Jupyter environment. The goal of this assignment is to help you understand how to use basic Python functions and what to keep in mind when working with Jupyter Notebooks in future exercises.


### Setup and Environment
You can find a setup guide in the Jupyter Notebook of the Python introductory course (available on Moodle). There you will also find explanations for all Python functionalities needed for this worksheet.
Alternatively, you can upload this notebook to [Google Colab](https://colab.google/) and work on it directly there.

## Task 1 - Hello World
### 1.1
Print a 'Hello World!' statement.

In [ ]:
### your code here ###

print('Hello World!')

### 1.2
Run the code below to import the nessecary libraries.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### 1.3
Run the code below and enter '1' or '2' as integer in the inputfield to see if everything worked with the imports.

In [ ]:
numberOfFunction = input('Gib entweder 1 oder 2 ein: ')
x1 = np.arange(1,20) # X-axis
y1 = np.arange(1,20)  # Y1-axis
y2 = 2**np.copy(y1)  # Y2-axis

if (numberOfFunction == '1'):
    plt.title("linear function")
    plt.xlabel("X-values")
    plt.ylabel("Y-values")
    plt.plot(x1, y1, marker='x', linestyle='', color='blue')
    plt.show()
elif (numberOfFunction == '2'):
    plt.title("exponential function")
    plt.xlabel("X-values")
    plt.ylabel("Y-values")
    plt.plot(x1, y2, marker='x', linestyle='', color='red')
    plt.show()
else:
    print('Wrong number!')

## Task 2 - Sorting Code Blocks
In Jupyter Notebooks, the order in which code blocks are executed is important. In this task, you are given three code blocks. Execute them in the correct order so that a plot is displayed at the end.

In [ ]:
days = list(range(1, 8))
temperatures = [3, 5, 7, 6, 8, 9, 10]

measurements["days"] = days
measurements["temperatures"] = temperatures

In [ ]:
plt.ion()
plt.show()

In [ ]:
import matplotlib.pyplot as plt

plt.ioff()

x = measurements["days"]
y = measurements["temperatures"]

fig, ax = plt.subplots()
ax.plot(x, y, marker="o")
ax.set_title("Temperature Trend")
ax.set_xlabel("Day")
ax.set_ylabel("Temperature (°C)")

In [ ]:
measurements = {}

sequence: 4 -> 1 -> 3 -> 2

## Task 3 - Loops
### 3.1
Create a list named 'x_values' and insert the numbers counting upwards from 0 to 100 (incl.) in steps of two using a for-loop. Print 'x_values'.

```
output:
x_values = [0, 2, 4, ... 100]
```

In [ ]:
### your code here ###
x_values = []
for i in range(0, 101, 2):
    x_values.append(i)

print('x_values = ', x_values)

### 3.2
Create another list named 'y_values' with the first value '1' (integer). Create a variable i with the value of '1' (integer).
Fill 'y_values' using a while loop as long as i is less than the length of the list 'x_values'.
Fill 'y_values' as follows: In each iteration, add the value from 'x_values' at that position, exponentiated by 2.
Remember to increment the counter 'i'.

```
output:
y_values: [1, 4, 16, 36, ... 10000]
```

In [ ]:
### your code here ###
y_values = [1]
i = 1
while i < len(x_values) :
    y_values.append(x_values[i]**2)
    i = i+1

print('y_values: ', y_values)

### 3.3
Run the code below to check if you have done everything correctly.

In [ ]:
plt.title("A quadratic function")
plt.xlabel("X-values")
plt.ylabel("Y-values")
plt.ylim(0, 10000)
plt.plot(x_values, y_values, marker='', linestyle='-', color='red')
plt.show()

## Task 4 - if-statements
### 4.1
Inside a for loop iterated over 'y_values', create an if statement that sets all values ​​< 2000 to 2000 and all values ​​> 8000 to 8000.

```
output:
y_values: [2000, 2000, ... 8000, 8000]
```

In [ ]:
### your code here ###
for i, y in enumerate(y_values):
    if y < 2000:
        y_values[i] = 2000
    elif y > 8000:
        y_values[i] = 8000
print('y_values: ', y_values)

# Alternative solution:
#
# for i in range(len(y_values)):
#     if y_values[i] < 2000:
#         y_values[i] = 2000
#     elif y_values[i] > 8000:
#         y_values[i] = 8000

### 4.2
Run the code below to check if you have done everything correctly.

In [ ]:
plt.title("A truncated quadratic function")
plt.xlabel("X-values")
plt.ylabel("Y-values")
plt.ylim(0, 10000)
plt.plot(x_values, y_values, marker='', linestyle='-', color='red')
plt.show()

## Task 5 - Functions, Strings, and f-strings  
Imagine you’re writing a small program for a campus kiosk. Purchased items should be displayed in nicely formatted text lines, for example:
```
1x Apple (0.80 €)  
2x Mate (1.50 €) = 3.00 €
---
Total sum: 3.80 €
```
**Tip:** Try to use f-strings.

### 5.1 - Clean Up Names  
Write a function `clean_product_name(name)` that cleans up incorrectly entered product names such as `" mate"` or `"APPLE"`.  
Your function should:  
1. Remove leading and trailing spaces  
2. Capitalize the first letter and make the rest lowercase

In [ ]:
### your code here ###
def clean_product_name(name):
    return name.strip().capitalize()

### 5.2 - Formatting  
Write a function `format_item(name, price, quantity)` that outputs a fully formatted item with a cleaned-up name and quantity.  
- **name**: Name as a string, e.g. `"Mate"`  
- **price**: Unit price as a float, e.g. `1.5`  
- **quantity**: Number of purchased items as an int, e.g. `2`  

Example:  
```python
format_item(" mate", 1.5, 2)
# -> "2x Mate à 1.50 € = 3.00 €"

In [ ]:
### your code here ###
def format_item(name, price, quantity):
    name = clean_product_name(name)
    total = price * quantity
    return f"{quantity}x {name} à {price:.2f} € = {total:.2f} €"

### 5.3 - Output Multiple Products  
You are now given a list of purchases. Output them properly formatted.  
Also calculate the total sum of all purchases and display it.

In [ ]:
einkauf = [
    ("  apple ", 0.8, 1),
    ("MATE", 1.5, 2),
    ("ChocolatE", 1.2, 3),
]

### your code here ###

total_sum = 0
for name, price, quantity in einkauf:
    print(format_item(name, price, quantity))
    total_sum += price * quantity
print(f"---\nTotal sum: {total_sum:.2f} €")

## Task 6 Data structures
### 6.1 - Lists
Store the strings 'Hello', 'World', and '!' and the number 2025 in a list named 'myList'.
Print the first and second-to-last elements. Do this as if you don't know the length of the list.
Then delete the last element and add 'EiKI 25/26'.
Print the first three values ​​in reverse order using slicing.

In [ ]:
### your code here ###
# create List
myList = ['Hello', 'World', '!', 2025]

# print first and second-last item
print('myList first element: ', myList[0])
print('myList last element: ', myList[-2])

# remove second element and add 'EiKI 25/26
del myList[-1]
myList.append('EiKI 25/26')
print('myList: ', myList)

#print first three elements in reverse order using slicing
print(myList[:3][::-1])

### 6.2 - Tuples
Store the same initial data in a tuple 'myTuple' and output the tuple.

In [ ]:
### your code here ###
myTuple = 'Hello', 'World', '!', 2025
print('myTuple: ', myTuple)

## 6.3 - Sets
Store the values ​​'1', '2', '5' (as integers) and the string 'EiKI' in a set named 'mySet1'.
Store the values ​​'1', '2' (as integers) and the string 'WiSe25/26' in 'mySet2'.
Store the integer value 5 and the string 'eiki' in 'mySet3'.
Find the intersection of 'mySet1' and 'mySet2' and the union of all three sets.

In [ ]:
### your code here ###
mySet1 = {1, 2, 5, 'EiKI'}
mySet2 = {1, 2, 'WiSe25/26'}
mySet3 = {5, 'eiki'}
print('Intersection: ', mySet1 & mySet3)
print('Union: ', mySet1 | mySet2 | mySet3)

## 6.4 - Dictionaries
Run the code below and add 3 packs of milk to shopping. Print how many eggs you want to buy.

In [ ]:
### your code here ###
shopping = {"Eggs": 12, "Cheese": "250g", "Onions": 2}
print(shopping)

In [ ]:
### your code here ###
# Add 3 packs of milk
shopping['Milk'] = 3

# number of eggs needed
print('Number of Eggs needed: ', shopping['Eggs'])

Print the keys and iterate over the values.

In [ ]:
### your code here ###
# keys and values
print('keys: ', shopping.keys())

print("values:")
for value in shopping.values():
    print('  ', value)

## Task 7 - Mini Program "Guess the Number"  
Write a program that:  
1. Chooses a random number between 1 and 20,  
2. Lets the user guess,  
3. Gives feedback on whether the guess was too high, too low, or correct.

``` Hint: Use random.randint(x,y) to get a random number between x(incl.) and y(incl.) and int(input("message")) to get an input-field. ```

In [ ]:
import random

### your code here ###

def guess_the_number():
    number = random.randint(1, 20)
    while True:
        try:
            guess = int(input("Guess a number between 1 and 20: "))
            if guess < number:
                print("Too low!")
            elif guess > number:
                print("Too high!")
            else:
                print("Correct!")
                break
        except ValueError:
            print("Please enter a valid number!")

guess_the_number()